dist/
build/
__pycache__/
.vscode/
.idea/
venv/
chrome-data/
chromedriver/
secrets.py
*.log
*.txt
*.spec
NAUKRI/progress.json
screenshots/


NAUKRI/search_progress.json
NAUKRI/progress_ashok.json
NAUKRI/search_progress_ashok.json
